* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FBFCFF;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    cursor: url("../images/cursor.svg"), auto;
    overflow-x: hidden;
    overflow-y: hidden;
     -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
     display: none;
}

a {
    color: #797F98;
    text-decoration: none;
}

a:hover, .controls > .enabled {
    cursor: url("../images/hover_cursor.svg"), auto;
}


h1 {
    font-size: 24px;
    font-weight: bold;
}

ul > li {
    list-style-type: square;
}

p {
    padding-bottom: 24px;
}


/* Page Controls -------------------------------- */
.controls {
    position: absolute;
    background-color: #FBFCFF;
    bottom: 0px;
    width: 264px;
    padding: 24px 36px 36px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: calc(50% - 168px);
    z-index: 99;
}

#passwordPrompt {
    display: none;
    padding: 24px;
    width: 300px;
    position: absolute;
    top: calc(50% - 72px);
    left: calc(50% - 174px);
    background-color: #FFFFFF;
    align-items: center;
    z-index: 999;
    flex-wrap: wrap;
}

input[type="password"] {
    height: 24px;
    padding: 8px;
    margin: 24px 24px 0 0;
    border: 1px solid #363945;
    cursor: url(../images/hover_cursor.svg), auto;
    font-size: 18px;
}

input[type="submit"]{
    height: 36px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #363945;
    cursor: url(../images/hover_cursor.svg), auto;
    margin-top: 24px;
}

label {
    flex: 0 0 100%;
    font-size: 24px;
    font-family: 'Barlow', sans-serif;
}

.enabled {
    cursor: url("../images/hover_cursor.svg"), auto;
}

.disabled {
    cursor: url("../images/cursor.svg"), auto;
}

#sectionTitle, #sectionTitle + h5 {
    color: #363945;
}

#sectionTitle + h5 {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

#closeButton {
    position: fixed;
    right: 15%;
    top: 15%;
}

#closeButton:hover {
    cursor: url("../images/hover_cursor.svg"), auto;
}

/* Content Pop Over ------------------------------ */

#modalBackground {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 175, 193, .75);
    z-index: 100;
}

.modalContent {
    display: none;
    background-color: #FFFFFF;
    position: absolute;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    overflow-y: scroll;
    z-index: 101;
}

.projectSection {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.row {
   flex-direction: column;
}

.column {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projectTitle {
    width: 100%;
    height: 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamInformation {
    height: auto;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.teamInformation > dl {
    margin: 24px;
}

.teamInformation > dl > dt {
    font-size: 24px;
    font-weight: bold;
}

.teamInformation > dl > dd {
    font-size: 16px;
    font-family: 'Barlow';
    margin-bottom: 8px;
}

.projectTitle > h1, 
.projectTitle > h2, 
.projectCallout, 
.projectDescription, 
.projectSectionTitle,
.about > .wrapper > h1,
ul > li {
    color: #363945;
}

.projectTitle > h1 {
    font-size: 36px;
}

.projectTitle > h2 {
    display: none;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}

.projectCallout, .projectDescription, .projectSectionTitle, .projectSection > ul > li {
    padding: 12px 0;
    width: 90%;
}

.styleguide {
    width: 65%;
    margin: 64px 0;
}

.projectCallout {
    font-size: 24px;
}

.projectDescription, .projectSection > ul > li {
    font-size: 18px;
    font-weight: normal;
    font-family: 'Barlow', sans-serif;
}

.purpleCallout {
    color: #5600C3;
    vertical-align: middle;
    margin-left: 4px;
    font-weight: bold;
}

.projectCallout + img {
    width: 100%
}

.projectHero {
    width: 100%;
}

#scrollPrompt {
    display: none;
}

.projectSectionTitle {
    font-size: 24px;
}

.modalImage {
    width: 90%;
    padding: 24px;
}


/*Banner image is a feature image at the end of a project.*/
.bannerImage {
    width: 100%;
    height: 348px;
    background-image: url("../images/mockups/virago_three_screen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* General Styles -------------------------------- */

.rightAlign {
    text-align: right;
}

.main > section.hidden {
    display: none;
    opacity: 0;
}

.current {
    display: block;
}
  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    font-family: 'Barlow', sans-serif;
    width: auto;
    height: auto;
    background-color: #FBFCFF;
    color: #000000;
    position: absolute;
    z-index: 1;
  }

.tooltiptext > img, .tooltiptext > p {
    width: 200px;
}

.tooltiptext > p {
    padding-bottom: 4px;
}

  .tooltiptext > h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
      padding-left: 8px;
  }

  .tooltiptext > h4 {
      font-size: 12px;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 8px;
    padding-left: 8px;
  }

/* About section ------ */
.about > .wrapper {
    width: 50%;
}

.about > .wrapper > h1 {
    font-size: 48px;
}

/*-------------------------------*/

.main {
    height: 100vh;  
    max-height: -webkit-fill-available;
    width: 100%;
}

.main > section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocksDiv {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    width: 100%;
}

.itemBlock {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.projectBlock {
    width: 164px;
    height: 236px;
}


.itemBlock:hover{
    cursor: url("../images/hover_cursor.svg"), auto;
}

.botnine {
    background-image: url("../images/projects/bot-9-box.svg");
}
.botnine:hover {
    background-image:url("../images/projects/bot-9-box-color.svg");
}

.mcp {
    background-image: url("../images/projects/biker-box.svg");
    
}
.mcp:hover {
    background-image:url("../images/projects/biker-box-color.svg");
}

.virago {
    background-image: url("../images/projects/virago-box.svg");
}
.virago:hover {
    background-image:url("../images/projects/virago-box-color.svg");
}

/** About Section */
#anna {
    background-image:url("../images/about-block2.svg");
    width: 448px;
    height: 448px;
}

#anna:hover {
    background-image:url("../images/about-block.svg");
}

.dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 600px;
}

.major {
    background-image: url("../images/dog_thumbnails/major.svg");
}
.major:hover {
    background-image: url("../images/dog_thumbnails/major2.svg");
}
.athena {
    background-image: url("../images/dog_thumbnails/athena.svg");
} 
.athena:hover {
    background-image: url("../images/dog_thumbnails/athena2.svg");
}
.buddy {
    background-image: url("../images/dog_thumbnails/buddy.svg");
}
.buddy:hover {
    background-image: url("../images/dog_thumbnails/buddy2.svg");
}

#resumeSVG {
    width: 100%;
    margin: 0;
}

/* Transitions ---------------------------------- */
.fade-in {
    opacity: 0;
    animation: fade-in 1s both;
}

 @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}
  }

/** Starting at tablet size, make the fonts and change the layout of the project description. */

@media screen and (min-width: 768px){
    
    ul > li {
        width: 50%;
    }
    
    .itemBlock {
        transition: background-image ease-in-out .25s;
    }
    
    .projectTitle {
        width: 50%;
        height: 80vh;
    }
    
    .projectTitle > h1 {
        font-size: 48px;
    }
    
    .projectTitle > h2 {
        display: block;
        font-size: 24px;
    }
    
    .projectHero {
        width: 50%;
    }
    
    .projectCallout, .projectDescription, .projectSectionTitle, .modalImage {
        width: 50%;
    }
    
    .projectCallout, .projectSectionTitle {
        padding: 64px 0;
    }
    
    .styleguide {
        width: 40%;
    }
    
    .projectCallout {
        font-size: 48px;
    }
    
    .projectDescription, .projectSection > ul > li {
        font-size: 24px;
    }
    
    .projectSectionTitle {
        font-size: 52px;
    }
    
    .row {
        flex-direction: row;
    }
    
    .bannerImage {
        height: 764px;
    }
    
    #anna {
        background-image:url("../images/about-block.svg");
    }

    #anna:hover {
        background-image:url("../images/about-block2.svg");
    }
}

@media screen and (min-width:1200px) {
    
    #resumeSVG {
        width: 80%;
        margin: 0 10%;
    }
    
    #about > p {
        width: 33vw;
    }

    .blocksDiv {
        flex-direction: row;
    }

    .itemBlock {
        width: 248px;
        height: 364px;
    }
}

@media screen and (min-width:1440px) {
    .styleGuide {
        width: 25%;
    }
    
    .itemBlock {
        width: 400px;
        height: 564px;
    }
    
    #anna {
        width: 648px;
        height: 648px;
    }
}

@media screen and (min-width:1800px) {
    .itemBlock {
        height: 692px;
        width: 500px;
    }
}
