* {
    padding: 0;
    margin: 0;
}

path {
    transition: fill ease-in .25s;
}

body {
    background-color: #DADFEF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #EEEEEE;
    cursor: url("../images/cursor.svg"), auto;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    cursor: url("../images/hover_cursor.svg"), auto;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    padding-bottom: 24px;
}
  
  /* Tooltip text */
  .tooltiptext {
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: #363945;
    color: #fff;
    letter-spacing: 1px;
    padding: 8px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  .tooltiptext > h3 {
      font-size: 14px;
  }

  .tooltiptext > h4 {
      font-size: 10px;
  }


#headerNav{
    position: fixed;
    height: 50vh;
    top: 25vh;
    left: 36px;
    display: flex;
    flex-direction: column;
    padding-right: 64px;
    z-index: 7;
}

#headerNav > a {
    font-size: 2vw;
    padding: 24px 0;
    text-transform: uppercase;
    transform: skew(
180deg,
195deg);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

#headerNav > a:hover {
    color: #F57731;
    transition: color ease 500ms;
}

.openingText {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 3;
}

.divider {
    position: absolute;
    z-index: 2;
    top: -64px;
}

footer {
    width: 100%;
    height: 96px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5C6174;
}

footer > div > p {
    font-size: 10px;
    padding: 0px;
    width: auto;
    line-height: 14px;
}

/*-------------------------------*/



.line {
    width: 100vw;
}
.left, .right {
    width: 50vw;
    overflow: hidden;
    display: inline-block;
}

.left {
    color: #C35A1F;
    transform: skew(0deg, -15deg);
}

.right {
    color: #F57731;
    transform: skew(0deg, 15deg);
}
.left .content {
    width: 100vw;
    text-align: center;
}
.right .content {
    width: 100vw;
    text-align: center;
    transform: translate(-50vw);
}
span {
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
}

span.large{
    font-size: 16vw;
}

span.medium {
    font-size: 12vw;
}

span.small {
    font-size: 3vw;
}

.blockBackground {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.main {
    height: auto;
    width: 100%;
    top: 55vh;
    position: absolute;
}

.main > section {
    height: auto;
    background-color: #999EB1;
    z-index: 5;
}

#work {
    min-height: 50vh;
}

.main > section > h1 {
    font-size: 32px;
    transform: skew(-180deg,-195deg);
    width: 200px;
}

.blocksDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 548px;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.itemBlock {
    width: 164px;
    height: 272px;
    margin: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image ease-in-out .25s;
}
.itemBlock:hover{
    cursor: url("../images/hover_cursor.svg"), auto;
}

.botnine {
    background-image: url("../images/bot-9-box.svg");
}
.botnine:hover {
    background-image:url("../images/bot-9-box-color.svg");
}

.mcp {
    background-image: url("../images/biker-box.svg");
    
}
.mcp:hover {
    background-image:url("../images/biker-box-color.svg");
}

.virago {
    background-image: url("../images/virago-box.svg");
}
.virago:hover {
    background-image:url("../images/virago-box-color.svg");
}

.dogs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 600px;
}

.major {
    background-image: url("../images/Major.svg");
}
.athena {
    background-image: url("../images/athena.svg");
} 
.athena:hover {
    background-image: url("../images/athena2.svg");
}
.buddy {
    background-image: url("../images/buddy.svg");
}
.buddy:hover {
    background-image: url("../images/buddy2.svg");
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #101010;
    padding: 96px 0;
}

#about > p {
    font-size: 24px;
    width: 75vw;
    color: #BABABA;
}

#resume {
    
}

#resumeSVG {
    width: 100%;
    margin: 0;
}

@media screen and (min-width:1200px) {
    
    #resumeSVG {
        width: 80%;
        margin: 0 10%;
    }
    
    #about > p {
        width: 33vw;
    }

    .blocksDiv {
        flex-direction: row;
    }

    .itemBlock {
        width: 232px;
        height: 364px;
        margin: 48px;
    }

    .botnine {
        align-self: flex-start;
    }
}

@media screen and (min-width:1440px) {
    .itemBlock {
        width: 232px;
        height: 564px;
        margin: 64px;
    }

    .botnine {
        align-self: flex-end;
    }
}

@media screen and (min-width:1800px) {
    .itemBlock {
        height: 692px;
        margin: 72px;
    }
}
