* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #D68B7D;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #D68B7D;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 4vw;
    color: #FFD9D1;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}

#headerNav{
    width: calc(100% - 64px);
    position: fixed;
    top: 0;
    height: 44px;
    display: flex;
    justify-content: flex-end;
    padding-right: 64px;
    z-index: 3;
}

#headerNav > a {
    font-size: 16px;
    width: 120px;
    padding: 24px 0;
    color: #FFD9D1;
    letter-spacing: 1px;
    text-transform: uppercase;
    transform: skew(-180deg,-195deg);
    font-weight: bold;
}

#headerNav > a:hover {
    color: white;
    transition: color ease 500ms;
}

.openingText {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    position: absolute;
    z-index: -1;
}

footer {
    width: calc(100% - 32px);
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px 0px 16px;
}

/*-------------------------------*/



.line {
    width: 100vw;
}
.left, .right {
    width: 50vw;
    overflow: hidden;
    display: inline-block;
}
.left {
    color: #D68B7D;
    transform: skew(0deg, -15deg);
}
.right {
    color: #451E17;
    transform: skew(0deg, 15deg);
}
.left .content {
    width: 100vw;
    text-align: center;
}
.right .content {
    width: 100vw;
    text-align: center;
    transform: translate(-50vw);
}
span {
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
}

span.large{
    font-size: 16vw;
}

span.medium {
    font-size: 12vw;
}

span.small {
    font-size: 4vw;
}

.blockBackground {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    position: relative;
}

.main {
    height: auto;
    width: 100%;
    background-color: #260904;
    z-index: 0;
    position: relative;
    top: 100vh;
}

.main > section {
    width: calc(100% - 96px);
    margin: 0px auto;
    padding: 48px;
    display: flex;
    height: 100vh;
}

#work {
    background-color: #1B1C18;
}

#work > h1 {
    color: #C5CAA7;
}

#about {
    background-color: #18191C;
}

#about > h1 {
    color: #A9A7CA;
}

#foster-dogs {
    background-color: #1B1C18;
}

#foster-dogs > h1 {
    color: #C5CAA7;
}


